$backgroundcolor: rgb(255, 255, 255);

body{
    margin: 30px;
}

.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $backgroundcolor;
    img{
        width: 23px;
        height: 20px;
    }

}

.topright{
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content:flex-start
    
    form{
        width: 300px
    }

    img{
        width:15px;
        height: 15px;
    }
}

.search{
    display: flex;
    align-items: center;
}

.searchbar{
    width: 90px;
    height: 11px;
    border: none;
}

.submit{
    
    background: none;
    border: none;
}

.bar{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        font-size: 13px;
    }

}


.sort{
    border: none;
    font-size: 8px;
    background-color: $backgroundcolor;
}



